{%  extends 'main.html' %}
{% load static %}
<style>
  #hello{
    fornt-size:18px;
    color: #fff;
    margin-right: 20px;
  }
</style>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <!-- <img src="{% static 'images/download.png'%}"> -->
    <a class="navbar-brand" href="#">Task Time Tracker</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <span class="glyphicon glyphicon-user" id="hello">Hello,{{request.user}}</span>
    <span><a class="glyphicon glyphicon-log-in" href="{% url 'logout' %}">Logout</a></span>
    
   
  </nav>
  <br>  